.hero {
  position: relative;
  height: 50%;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("https://picsum.photos/1200/600");
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
}

/* dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(10, 8, 30, 0.95),
    rgba(10, 8, 30, 0.4)
  );
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 32px;
}

.hero {
  transition: background-image 0.6s ease-in-out;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: brightness(0.6);
}


.hero-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;  /* 🔑 THIS fixes it */
}


.badge {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 12px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  color: #fff;
  font-size: 20px;
}

.tags span {
  padding: 4px 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  font-size: 18px;
}

.hero-left h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin: 12px 0;
}

.hero-left p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  opacity: 0.85;
  max-width: 90%;
  margin-bottom: 20px;
}

.watch-btn {
  background: #a16eff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.watch-btn:hover{
  background: #8141f8;
  transform: scale(5px);
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px 16px;
  }

  .hero-content {
    padding: 0;
  }

  .hero-left h1 {
    font-size: 28px;
    line-height: 1.2;
  }

  .hero-left p {
    font-size: 14px;
  }
}
